.logabc{
    height: 391px;
    width: 612px;
    background-image: url(https://media.istockphoto.com/id/165683936/vector/paddy-or-grain-field.jpg?s=612x612&w=0&k=20&c=yC1g5q8ueaDrvi6r8fD1DwXiruKIFcrQtmck7Tc2FvA=);
}