.backabc{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-shadow: 200px 200px 200px ;
    background-image: url(https://img.freepik.com/premium-photo/metal-shopping-cart-with-fruits-vegetables-blue-background-toy-miniature-shopping-trolley_427957-1701.jpg?w=2000);
}